@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    margin: 0%;
}

div#OurWork {
    background-color:#de2b24;
    padding-bottom: 20vh;
    padding-top: 7vh;
    height: 100%;
    width: 100%;
}

p {
    color:#ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 3vh;
    font-family: sans-serif;
}

 p.Title {
    color:#ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0px;
}

.Work p {
    font-size: 26px;
    font-weight: bold;
    position:relative;
    top:20vh;
    margin:0%;
}

p.ProjectName {
    font-size: 16px;
}

.rectangle {
    width: 3.3vw;
    height: 0.8vh;
    background-color: #f3f3f3;
    margin: auto;
}

div#Works {
    height: 64%;
    width: 72.5%;
    margin: auto;
    margin-right: 14%;
    margin-left: 14%;
    margin-top: 6vh;
    font-size: 0px;
}

.Work {
    display: inline-block;
    font-size: 14px;
    width: 25%;
    height: 38vh;
    background-color: #f35e59;
    overflow: hidden;
    background-image: url(icon7.png);
    background-position: center 70px;
    background-repeat: no-repeat;
}

.Work#Work2 {
    background-image: url(photo1.jpg);
    background-position: -130px;;
    
}

.Work#Work4 {
    background-image: url(photo5.jpg);
    background-position: -80px;
}

.Work#Work5 {
    background-image: url(photo3\(resized\).jpg);
    background-position: -82px;
}

.Work#Work7 {
    background-image: url(photo7.jpg);
    background-position: -85px;
}


.Work#Work1:hover, .Work#Work3:hover, .Work#Work6:hover, .Work#Work8:hover{
    animation-name: MOVE-BG;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.Work:hover {
    transform: scaleX(110%) scaleY(110%) rotate(30deg);
    
}

div#FacebookAnalysis {
    height: 100vh;
    background-color: #1287bf;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
}
 
.Circle { 
    border-radius: 100px;
    border: solid 3px white;
    width: 9.2vh;
    height: 9.2vh;
    text-align: center;
    color: white;
    background-color: #1287bf;
    vertical-align: middle;
    line-height: 9.2vh;
    font-size: 2.5vh;
    font-family:Arial;
}  
div#CircleV {
    transform: scale(2.2, 1);
}

.Triangle{
    margin: auto;
    margin-bottom: -1px;
    width: 0; 
    height: 0; 
    margin-top: 3vh;
    border-left: 4.5vh solid transparent;
    border-right: 4.5vh solid transparent;
    border-bottom: 4.5vh solid white;
}

div#SubmitForm {
    margin: auto;
    width: 47.6vw;
    height: 64vh;
    background-color: white;
    border-radius: 3px;
}

div#ExitBtn {
    width: 6.24vh;
    height: 6.24vh;
    line-height: 6.24vh;
    float: right;
    border: solid 2px white;
    margin: 0%;
    margin-top: -3.12vh;
    margin-right: -3.12vh;
    border-radius: 100%;
    background-color:#de2b24;
    font-size: 3vh;
}

.Circle + p {
    color: #828282;
    font-size: 15px;
    font-family: Helvetica;
    padding-top: 8vh;

}

div#FormInfo {
    margin-top: 4%;
    text-align: center;
}

.SubmitFormInfo {
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 10px;
    height: 3.5vh;
    width: 65%;
    margin-top: 1%;
}

.SubmitFormInfo:hover {
    border-color: #1287bf;
}

::placeholder {
    color: rgb(175, 175, 172);
}

input#SubmitBtn {
    margin-top: 3%;
    margin-bottom: 4%;
    background-color: #de2b24;
    border-radius: 3px;
    border-width: 0px;
    color: white;
    height: 7vh;
    width: 24%;
    font-weight: bold;
    font-size: 2.4vh; 
}

div#GetInTouch {
    padding-top: 12.5vh;
    width: 100%;
    height: 73vh;
    background-color: #2a2a2a;
    text-align: center;
    position: relative;
}

div#GetInTouch p {
    font-size: 29px;
}

div#SocialNetworks {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.SocialNetwork {
    margin-left: 1.2vw;
    border: 2px solid #515151;
    border-radius: 2px;
    background-repeat: no-repeat;
    width: 7.3vh;
    height: 7.3vh;
    background-color: #2a2a2a;
    background-position: center center;
    color: white;
}

.SocialNetwork:hover {
    border-color: #de2b24;
}

input#Facebook {
    background-image: url(icon8.png);
}

input#Twitter {
    background-image: url(icon9.png);
}

input#Google {
    background-image: url(icon10.png);
}

input#LinkedIn {
    background-image: url(icon11.png);
}

div#SocialNetworks+div {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    text-align: center;
    font-family: "Open Sans";
    padding-bottom: 4vh;
    transform: scale(0.95, 1 );
    font-weight: 600;
}

input#Email {
    border-radius: 1px;
    border-width: 0px;
    background-color: #515151;
    width: 45.5vw;
    height: 5vh;
    padding: 1.5vh;
    padding-left: 1.5vw;
    color: white;
}

input#SubscribeBtn {
    margin-top: 4vh;
    width: 11vw;
    height: 8vh;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
}

div#Author {
    position:absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 1.5%;
    background-color: #515151;
    color: rgb(175, 175, 172);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}
@keyframes MOVE-BG {
    from {
        background-position: center 70px;
    }
    to { 
        background-position: right 0px;
    }
}